<%- include('../layouts/layout-start', { title: book.title }) %>

<h2><%= book.title %></h2>
<p><strong>Автор:</strong> <%= book.author %></p>
<p><strong>Год издания:</strong> <%= book.year %></p>

<div class="actions">
  <a href="/books" class="button">← Назад к списку</a>
  <a href="/books/<%= book.id %>/edit" class="button">✏️</a>
</div>

<%- include('../layouts/layout-end') %>