<%- include('../layouts/layout-start', { title: 'Добавить книгу' }) %>

<h2>Добавить новую книгу</h2>

<% if (locals.error) { %>
<div class="error-message"><%= error %></div>
<% } %>

<form method="POST" action="/books" class="book-form">
  <label>
    Название книги:<br />
    <input type="text" name="title" value="<%= locals.book?.title || '' %>" required />
  </label>

  <label>
    Описание:<br />
    <!-- <input type="text" name="description" value="<%= locals.book?.description || '' %>" required /> -->
    <textarea name="description" required><%= locals.book?.description || '' %></textarea>
  </label>

  <label>
    Автор(ы):<br />
    <input type="text" name=".authors" value="<%= locals.book?..authors || '' %>" required />
  </label>

  <div class="form-actions">
    <button type="submit" class="button">Создать</button>
    <a href="/books" class="button cancel">Отмена</a>
  </div>
</form>

<%- include('../layouts/layout-end') %>
